<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{% endblock %} - FlaskForum</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/universal.css') }}"
		/>
	</head>
	<body>
		<nav>
			<h1>Flask Forum</h1>
			<ul>
				{% if g.user %}
				<li><span>{{ g.user['username'] }}</span></li>
				<li><a href="{{ url_for('login.logout') }}">Log Out</a></li>
				{% else %}
				<li><a href="{{ url_for('login.register') }}">Register</a></li>
				<li>
					<a href="{{ url_for('login.login') }}">Log In</a>
				</li>
				{% endif %}
			</ul>
		</nav>
		<section class="content">
			<header>{% block header %}{% endblock %}</header>
			{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
			{% endfor %} {% block content %}{% endblock %}
		</section>
	</body>
</html>
